<div style="margin: 20px;padding:5px;" class="nested-fields">
  <%= f.label :category_id %>
  <br>
  <%= f.select(:category_id,
    [[ "Choose Category", 0]] + Category.all.map{ |c| [c.name, c.id] }) %>
  <br><br>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",
      class: "form-control", placeholder: "Enter Name Category" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br />
    <%= f.number_field :price, min: 1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :public_date %><br />
    <%= f.date_field :public_date, as: :date,
      value: f.object.try(:strftime,"%m/%d/%Y"), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
      class: "form-control" %>
  </div>
  <%= link_to_remove_association f, class: "form-control btn btn-danger" do %>
    <i class="fa fa-remove"></i> Remove
  <% end %>
</div>
