<div class="col-md-2"></div>
<div class="col-md-10">
  <h2 style="text-align:center">
    All authors
  </h2>
  <%= render "layouts/sidebar" %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr id="authors_<%= author.id %>">
          <td><%= author.name %></td>
          <td>
            <%= link_to edit_author_path(author.id) do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
          </td>
          <td>
            <%= hidden_field_tag :author_id, author.id, class: "author_id" %>
            <i class="glyphicon glyphicon-remove-circle rmv_author"></i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
