<div class="col-md-12">
  <%= render "layouts/sidebar" %>
  <div class="col-md-10">
    <h2 style="text-align:center">
      All books
    </h2>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Search:</th>
            <th rowspan="2">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= hidden_field_tag :article_id, "book", class: "table_book" %>
              <%= text_field_tag :search, params[:search],
                class: "admin_search form-control", id: "book_search" %>
            </td>
            <td rowspan="2">
              <%= select_tag "admin_category",options_for_select(
                [[ "Choose Category", ""]] + @categories.map{ |c| [c.name, c.id] },
                selected: params[:category]),
                class: "slect_admin_category form-control" %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= render "list_book" %>
    </div>
  </div>
</div>
