<div class="col-md-2"></div>
<div class="col-md-10">
  <h2 style="text-align:center">
    All categories
  </h2>
  <%= render "layouts/sidebar" %>
  <div class="col-md-10">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td>
            <%= link_to edit_category_path(category.id) do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to category_path(category.id) do %>
              <i class="glyphicon glyphicon-remove-circle"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
